.btn {
  padding: 14px 28px;
  border: none;
  border-radius: var(--radius-md);
  cursor: pointer;

  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 600;

  transition: 0.3s ease;
}

.btn-primary {
  background-color: var(--primary);
  color: var(--white);
}

.btn-primary:hover {
  opacity: 0.9;
}

.btn-secondary {
  background-color: transparent;
  border: 1px solid var(--primary);
  color: var(--primary);
}